.main-section{
    background-color: #111111; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
 
}

.main{

    width: 1000px;
    height: 100%;
    padding: 0px 20px;
 
}

.main h2{

    margin-bottom: 12px;
}

@media screen and (max-width: 1333px){
    .navbar{
  
        display: none;
    }

    #hamburguer-menu #nav-icon{
        display: block;
    }
}


@media screen and (max-width: 1000px){
    .main{
        width: 100%;
    }

    
}


@media screen and (max-width: 990px){
    .offers-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .offer-showcase{
        width: 700px;
        height: 458px;
        margin: 12px 0px;
     
        
    }

    .offer-showcase-image{
        width: 100%;
        height: 300px;
    
    }

    .offer-showcase-info{

      padding: 12px 20px;
     
    
    }
    
    .offer-showcase-info h2{

        font-size: 14pt;
        font-weight: 700;
     
    
    }
    
    .offer-showcase-info p{
    
        font-size: 12pt;
        font-weight: 300;
      
    
    }
    .offer-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
       
    
    
    }
    
    .discount{
        background-color: lightgreen;
        color: #262626;
        padding: 6px 8px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        
    
    
    }
    
    .discount p{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 14pt;
      
    }
    .price{
        height: 100%;
    }
    
    .price p{
        font-weight: 400;
        font-size: 14pt;
    }
    
    .price span{
        text-decoration: line-through;
        font-size: 10pt;
        font-weight: 400;
    }
    
    .offer-options{
        display: flex;
        align-items: flex-end;
       
    }
    
    #favorite-icon, #buy-icon{
        font-size: 20pt;
        margin: 0px 2px;
        border-radius: 100%;
        padding: 8px;
        color: #ffffff;
    }

    .offer-see-more{
        font-size: 12pt;
        border: solid 2px #ffffff;
    }

    .releases-wrapper{
        flex-direction: column;
    }

    .release-card{
        width: 700px;
        margin: 16px 0px;
    }

    .release-img{
        width: 100%;
        height: 300px;
    }

    .release-card-info p{
        font-size: 12pt;
        padding: 8px 16px;
    }

    .see-more-releases{
        font-size: 12pt;
        border: solid 2px #ffffff;
    }

    .offers, .releases, .popular{

        width: 700px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 0px;
      
     
    }
    .carousel-wrapper{
        width: 700px;
        margin: auto;
    }
    
    .offer-showcase:hover, .release-card:hover{
        transform: none;
    }
}


@media screen and (max-width: 745px){
    .offer-showcase, .offer-showcase-image, .release-card, .release-img, .carousel-wrapper, .offers, .releases, .popular{
        width: 100%;
      
    }

    .main{
        padding: 0px;
    }

    .popular, .releases, .offers{
        padding: 0px 12px;
    }

    .carousel-wrapper{
        height: 400px;
    }

}

@media screen and (max-width: 585px){
    .main-section{
        padding: 0px 0px;
    }
    .carousel-wrapper{
        height: 300px;

    }

    
    #carousel-icon{
        font-size: 26pt;
        padding: 0px 5px;
        
    }

    .arrow-back, .arrow-next{
        
       
        height: 100%;
    
    }

    .carousel-item{
        width: 8px;
        height: 8px;
    }

    .carousel-items-wrapper{
        height: 40px;
    }

    .offers, .releases, .popular{
        font-size: 15pt;
    
    }
    .offer-showcase{
        height: 340px;
        margin-top: 0px;
        margin-bottom: 20px;

       
    }
    .offer-showcase-image{
        height: 180px; 
    }
    .offer-see-more{
        display: none;
    }

    .release-card{

        height: 340px;
        margin-top: 0px;
        margin-bottom: 20px;


    }

    .release-img{
        height: 263px;
    }

    .see-more-releases{
        display: none;
    }
    
    
    .responsive-see-more-buttons{
        display: flex;
    }
}